html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body, nav {
	font: 300 16px Helvetica, sans-serif;
	height: 100%;
}

nav, main {
	box-sizing: border-box;
}


h1, 
h2, 
h3 {
	font-weight: 300;
}

h1 {
	font-size: 1.25rem;
	position: relative;
}

nav > h1, nav li {
	padding: 10px 30px 10px 135px;
}

/*** Navigation ***/

nav {
	color: white;
	background-color: #464f77;
	width: 335px;
	float: left;
	padding: 70px 0;
}

.all-todos::before, .completed::before {
	content: url(../assets/list_icon.png);
	position: absolute;
	left: 100px;
	top: 7px;
}

.completed::before {
	content:url(../assets/completed_icon.png);
}

nav li {
	opacity: 0.5;
}

.completed-tasks {
	text-decoration: line-through;
}

.number {
	float: right;
	font-size: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 2px 7px;
	border-radius: 100%;
}

li .number {
	margin-top: -3px;
}

.selected {
	background-color: #383f5f;
	opacity: 1;
}

.selected > .number, h2 > .number {
	background-color: #148fd5;
}
/*** Hamburger Slideout ***/


input[type="checkbox"] {
	display: none;
}

label[for="hamburger"] {
	visibility: hidden;
	font-size: 2rem;
	position: relative;
	top: 15px;
	left: 30px;
}


/*** Main ***/

main {
	margin-left: 335px;
	background-color: white;
	padding: 30px 100px 0 30px;
}

h2 {
	font-size: 1.3125rem;
}

h2 > .number {
	float: none;
	color: white;
	font-weight: normal;
	margin-left: 20px;
}

.plus-symbol {
	font-size: 1.5rem;
}

h3 {
	padding: 35px 10px 20px 0;
	color: #148fd5;
}

.task-list > li {
	border-top: 1px solid #e7e7e7;
	padding: 20px 10px;
}

.task-list > li::after {
	content: url(../assets/trashbin.png);
	float: right;
	opacity: 1;
}

.unchecked::before, .checked::before {
	content: url(../assets/empty_box.png);
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

.unchecked:hover, .checked:hover {
	color: #148fd5;
	cursor: pointer;
}

.checked {
	text-decoration: line-through;
	color: #b3b3b3;
}

.checked::before {
	content: url(../assets/checked_box.png);
	opacity: 1;
}

/*** Media Queries***/

@media (max-width: 768px) {

nav {
	display: none;
}

main {
	margin-left: 0;
}

label[for="hamburger"] {
	visibility: visible;
	}

input[type="checkbox"]:checked ~ nav {
	display: inline-block;
	}

input[type="checkbox"]:checked ~ main {
	margin-left: 335px;
	}
}

/*** Modal ***/


.overlay {
	display: none;
	z-index: 9999;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}

.details {
	position: relative;
	box-sizing: border-box;
	background-color: white;
	width: 540px;
	height: 375px;
	padding: 30px;
	margin: 10% auto;
}

dt, dd, select, input, textarea {
	display: inline-block;
	font-size: 1rem;
	box-sizing: border-box;	
}

dt {
	width: 100px;
	vertical-align: middle;
}

dd {
	width: 375px;
	margin-bottom: 20px;
}

input[type="text"], select, textarea{
	width: 100%;
	padding: 10px;
}

.third {
	width: 105px;
	margin-right: 30px;
	position: relative;
}

.third::after {
	content: "/";
	position: absolute;
	top: 11px;
	right: -18px;
}

.third:nth-of-type(4)::after{
	display: none;
}

.no-padding {
	margin-right: 0;
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0%;
	background-color: white;
	color: #BDBCBD;
}

.arrow {
	position: relative;
}
.arrow::before {
	content: "";
	position: absolute;
	right: -95px;
	top: -30px;
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #646464 transparent;
}
.arrow::after {
	content: "";
	position: absolute;
	right: -95px;
	top: -17px;
	border-style: solid;
	border-width: 4px;
	border-color: #646464 transparent transparent transparent;
}

select[name="Day"]{
	color: black;
}


#gray {
	color: #333;
}

option[value=""][disabled]{
	display: none;
}

label[for="description"] {
	vertical-align: top;
}

option {
	color: black;
}

textarea {
	height: 135px;
	resize: none;
}

input[type="text"], select, textarea {
	border: 1px solid #BDBCBD;
}

.top {
	vertical-align: top;
	margin-top: 12px;
}

input[type="button"]{
	background-color: #148fd5;
	color: white;
	border: 0;
	font-weight: 300;
	width: 175px;
	height: 35px; 
	transition: opacity 0.2s ease-in;
	border-radius: 5px;
}

input[type="button"]:hover {
	opacity: 0.8;
	cursor: pointer;
}

input[type="button"]:first-of-type {
	margin: 0 20px 0 100px;
}